<% ride = Ride.find_by(id: params["ride_id"]) %>

<h1> Assign Driver for Ride # <%= ride.id %> </h1>

<p> Select a driver from this list: </p>

<%= form_tag "/rides/#{ride.id}", method: "patch" do %>

<select name="driver_id">
  <% for driver in Driver.all.order('name') %>

  <option value="<%= driver.id %>">
      <%= driver.name %>
    </option>
<% end %>

</select>

<button class="btn bt-primary">Select This Driver </button>
<% end %>
